# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/yck_data_process/log_dir/
/yck_data_process/log_dir_test/
